body
{
    background: #FFF4F0;
}

label
{
    display: none;
}


.changeJobTitle {
    border-bottom: 1px solid #093D64;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
    width: 70vw;
    margin-top: 90px;
    padding-bottom: 10px;
}


.changeJobTitle p{
    color: #000000;
    font-size: 30px;
}

.changeJob {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 800px;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    padding-bottom: 83px;
    background: #093D64;
}

.wrongF
{
    border: 1px solid red!important;
}

.wrongF::-webkit-input-placeholder
{
    color: red!important;
}

.wrongF::-moz-placeholder
{
    color: red!important;
}

.wrongF:-ms-input-placeholder
{
    color: red!important;
}

.wrongF::-ms-input-placeholder
{
    color: red!important;
}

.wrongF::placeholder
{
    color: red!important;
}

.form-control
{
    border: none;
    max-width: calc(800px - 143px);
    width: calc(-143px + 80vw);
    margin-right: auto;
    margin-left: 60px;
    padding-left: 20px;

    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color: #313131;

    resize: none;
    outline: none;
}

.form-control::-webkit-input-placeholder {
    color: #313131;
}

.form-control::-moz-placeholder {
    color: #313131;
}

.form-control:-ms-input-placeholder {
    color: #313131;
}

.form-control::-ms-input-placeholder {
    color: #313131;
}

.form-control::placeholder {
    color: #313131;
}

.form-control::-webkit-input-placeholder {
    color: #313131;
}

input[name]
{
    height: 40px;
    margin-top: 40px;
}

#id_description
{
    margin-top: 21px;
    padding-top: 14px;
    height: 80px;
}

#id_content
{
    margin-top: 21px;
    padding-top: 14px;
    height: 165px;
}

.but {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-top: 21px;
    background: #F3F3F3;
    color: #093D64;
    border: none;
    cursor: pointer;
    padding: 10px 42px;
    border-radius: 5px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
}

.but:hover
{
    background: #D3D3D3;
    color: #093D64;
}

.del
{
    float: left;
    margin-left: 60px;
    margin-top: 31px;
}

.del .but {
    padding: 11px 28px;
}


.can
{
    float: right;
    margin-right: 35px;
    margin-top: 31px;
}

.can .but {
    padding: 11px 31px;
}

.sav
{
    float: right;
    margin-right: 60px;
    margin-top: 31px;
}

.sav .but {
    padding: 11px 20px;
}

.shading
{
    background: rgba(102, 102, 102, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}


.wind {
    width: 435px;
    position: fixed;
    top: 37vh;
    right: 0;
    left: 0;
    margin: auto;
    padding-bottom: 55px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #f3f3f3;
    background: #093D64;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.DeleteInfo
{
    font-size: 30px;
    font-weight: 300;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}


.DeleteInfo p
{
    color: #f3f3f3;
}

.open .shading {display: block;}
.open .close {display: block;}
.open .emailSave {display: block;}
.open .passwordSave {display: block;}
.open .delete {display: block;}

.close {
    display: none;
    width: 68px;
    float: left;
    font-weight: bold;
    padding: 7px 14px;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 14px;
    cursor: pointer;
    margin-left: 130px!important;
    margin-top: 70px;
    text-align: center;
    z-index: 3;
    text-transform: uppercase;
    border: 1px solid #F3F3F3;
    background: #F3F3F3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #093D64;
    margin-right: 0px!important;
}

.delete {
    display: none;
    width: 112px;
    float: right;
    font-weight: bold;
    padding: 7px 14px;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 14px;
    cursor: pointer;
    margin-right: 128px!important;
    margin-top: 70px;
    text-align: center;
    z-index: 3;
    text-transform: uppercase;
    border: 1px solid #F3F3F3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: #F3F3F3;
    color: #093D64;
}

.deleteWind .close
{
    padding: 10px 0px;
    margin-left: 90px!important;
    width: 113px;
}

.deleteWind .delete
{
    padding: 10px 15px;
    margin-right: 90px!important;
    width: 115px;
}

.close:hover, .delete:hover
{
    color: #093D64!important;
    border: 1px solid #C3C3C3;
    background: #C3C3C3;
}

.emailSave:hover, .passwordSave:hover
{
    color: #C3C3C3!important;
    border: 1px solid #C3C3C3;
}

@media(max-width:765px)
{
    .but
    {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 23px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        text-align: center;
        margin-top: 5px;
        background: #F3F3F3;
        color: #093D64;
        border: none;
        cursor: pointer;
        padding: 12px 204px;
        border-radius: 5px;
        margin-bottom: 5px;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .del {
        float: none;
        margin-top: 29px;
        margin-bottom: 29px;
    }
    .del .but
    {
        float:none;
        padding: 12px calc(39.9vw - 90.5px);
    }

    .sav
    {
        float: none;
        margin-top: 15px;
        margin-left: 60px;
    }

    .sav .but {
        padding: 11px calc(39.9vw - 99px);
    }

    .can {
        float: none;
        margin-top: 28px;
        margin-bottom: 30px;
        margin-left: 60px;
    }

    .can .but {
        padding: 11px calc(40vw - 89px);

    }

    .addJob .sav {
        margin-top: 15px;
    }


    .changeJob {
        padding-bottom: 1px;
    }
}

@media(max-width: 625px) {
    .changeJobTitle p {
        font-size: 4.9vw;
    }
}
@media(max-width: 500px)
{
    .form-control {
        width: calc(-73px + 81vw);
        margin-left: 25px;
    }
    .sav {
        margin-left: 25px;
    }
    .sav .but {
        padding: 11px calc(40.8vw - 65px);
    }
    .can {
        margin-left: 25px;
    }
    .can .but {
        padding: 11px calc(40.8vw - 54px);
    }
    .del
    {
        margin-left: 25px;
    }
    .del .but
    {
        padding: 11px calc(40.8vw - 57px);
    }
}

@media(max-width: 630px) {
    .deleteWind {
        width: 435px;
    }

    .close
    {
        margin-left: calc(45vw - 145px)!important;
    }
}

@media(max-width: 550px)
{
    .deleteWind {
        width: 79vw;
    }

    .deleteWind .close
    {
        margin-top: 30px;
        margin-left: calc(39.4vw - 57px)!important;
    }

    .deleteWind .delete
    {
        margin-top: 30px;
        margin-right: calc(39.4vw - 57px)!important;
    }
    .DeleteInfo {
        font-size: 5.7vw;
        width: 56vw;
    }
}