body
{
    background: #FFF4F0;
    font-family: Roboto;
}

label
{
    display: none;
}

#login {
    width: 500px;
    margin-left: calc(49.95vw - 257px);
    /*background: #C4EAF5;*/
    /*border: 2px solid #3AB9DA;*/
    /*box-sizing: border-box;*/
    /*border-radius: 5px;*/
    margin-top: 100px;
    margin-bottom: 100px;
    height: 469px;
}


#login.loginOpen
{
    display: block;
}

.preLogin
{
    position: absolute;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: #C4EAF5;
    border: 2px solid #3AB9DA;
    box-sizing: border-box;
    border-radius: 5px;
    top: 184px;
    left: calc(49.95vw - 257px);
    margin-bottom: 100px;
}

#forgotWindow {
    position: absolute;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-radius: 5px;
    top: 210px;
    left: calc(49.95vw - 257px);
    margin-bottom: 100px;
}
.line
{
    background: #093D64;
    width: 300px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.forgEm
{
    margin-top: 45px;
}

#forgotPostWindow {
    width: 500px;
    margin-left: calc(49.95vw - 257px);
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 155px;
    margin-bottom: 100px;
}



.authorization
{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 23px;
    text-align: center;

    color: #313131;
    margin-top: 35px;

    padding-bottom: 50px;
    border-bottom: 1px solid #093d64;
}

.label
{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    color: #3E3E3E;
    margin-left: 30px;
    margin-bottom: 5px;
}

#id_username, #id_mail, #id_password, #id_password_1, #id_password_2,.forgotten
{
    margin-left: 30px;
}

#id_username, #id_mail, #id_password, #id_password_1, #id_password_2
{
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(500px - 64px);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color: #313131;
    resize: none;
    outline: none;
    padding-left: 10px;

}

.label-1
{
    margin-top: 70px;
}

.label-2
{
    margin-top: 15px;
}

.forgotten
{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;


    margin-top: 15px;
}

.forgotten a
{
    color: #3E3E3E;
    text-decoration: underline;
}

.forgotten a:hover
{
    color: #818181;
}

.g-recaptcha
{
    position: absolute;
    left: calc(50vw - 152px);
    margin-top: 42px;
    z-index: 20;
}

.hide
{
    display: none;
}

.almostHide
{
    transition: 0.5s;
    opacity: 0;
}

.enter, .create{
    background: #093d64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    left: calc(49.4vw - 57px);
    padding: 12px 35px;
    text-transform: uppercase;
    position: absolute;
    margin-top: -200px;
    z-index: 0;
    outline: none;

}

.create
{
    display: none;
}

.enter:hover, .create:hover
{
    background: #177ac5;
}

.almost-enter {
    position: absolute;
    right: 0;
    width: 129px;
    margin-right: 283px;
    margin-top: 48px;
}

.almost-enter a {
    background: #093D64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #F3F3F3;
    padding: 11px 22px;
}

.almost-enter a:hover
{
    background: #177AC5;
}

.almost-cancel {
    position: absolute;
    left: 0;
    width: 129px;
    margin-left: -45px;
    margin-top: 48px;
}

.almost-cancel a {
    border: 1px solid #093D64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #093D64;
    padding: 10px 23px;
    box-sizing: border-box;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.almost-cancel a:hover
{
    border: 1px solid #177AC5;
    color: #177AC5;
}

.enter-visible, .create-visible
{
    display: initial;
}

.label-forgot
{
    margin-top: 70px;
    font-size: 20px;
    line-height: 23px;

    color: #3E3E3E;
}

.label-info {
    margin-top: 40px;
    font-size: 15px;
    line-height: 18px;
    color: #8A8A8A;
    text-align: center;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}
.sub
{
    margin-left: 165px;
    margin-top: 72px;
    margin-right: 170px;
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 11px;
    letter-spacing: 0.5px;
    display: initial;
}

.back-password
{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #313131;
    margin-top: 35px;
}

.label-forgot-info {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    width: 430px;
    color: #3E3E3E;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.label-preLogin-info
{
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #3E3E3E;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.back-to-main {
    position: relative;
    background: #093D64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #F3F3F3;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    width: 207px;
    margin-top: 45px;
}

.back-to-main:hover
{
    background: #177AC5;
    color: #F3F3F3;
}

.go-auth
{
    margin-left: 120px;
    cursor: pointer;
    display: initial;
}

.but-container {
    width: 207px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.but-container-preLogin
{
    margin-top: 90px;
    margin-bottom: 30px;
}

.go-main
{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    margin-top: 15px;
    margin-bottom: 80px;
}

.go-main a
{
    color: #313131;
    text-decoration: underline;
}

.go-main a:hover
{
    color: #818181;
}



@media(max-width: 660px)
{

    #login {
        width: 77vw;
        margin-left: calc(10vw - -5px);
    }
    .preLogin
    {
        width: 77vw;
        left: calc(10vw - -5px);
    }

    #forgotWindow
    {
        width: 77vw;
        left: calc(10vw - -5px);
    }

    #forgotPostWindow
    {
        width: 77vw;
        margin-left: calc(10vw - -5px);
    }

    #id_username, #id_mail, #id_password, #id_password_1, #id_password_2{
        width: calc(77vw - 64px);
    }
    .sub
    {
        margin-left: calc(38vw - 76px);
        margin-right: calc(38vw - 76px);

    }
    .go-auth
    {
        margin-left: calc(38vw - 125px);
    }
}

@media(max-width: 600px)
{
    .label-preLogin-info {
        width: 64vw;
    }

}

@media(max-width: 650px)
{
    .label-forgot-info {
        width: 72vw;
    }
}

@media(max-width: 470px)
{
    .g-recaptcha {
        left: auto;
        margin-left: 5vw;
        overflow: hidden;
        width: 65vw;
    }

    .label-forgot-info {
        font-size: 4vw!important;
    }

}

@media(max-width: 450px)
{
    .go-auth {
        margin-left: calc(38vw - 107px);
        font-size: 11px;
    }
}

@media(max-width: 350px)
{
    .back-password {
        font-size: 22px;
    }
}

#messageForg {
    cursor: default;
    font-family: Roboto;
    font-size: 13px;
    position: absolute;
    top: 75px;
    color: #EF1010;
    opacity: 0;
    text-align: center;
    width: 500px;
}

#id_username.wrong
{
    border: 1px solid red;
}

#id_username.wrong::placeholder
{
    color: red;
}

#messageForg.wrong
{
    opacity: 1;
}

.errorlist li {
    cursor: default;
    font-family: Roboto;
    font-size: 13px;
    position: absolute;
    color: #EF1010;
    width: calc(500px - 64px);
    margin-top: 17px;
    margin-left: 30px;
}

ul li.import-field{
    margin-top: 72px;
    margin-left: 344px;
    width: 124px;
}

@media(max-width: 660px)
{
    .errorlist li {
        width: calc(77vw - 64px);
        margin-top: 7px;
    }
    ul li.import-field {
        margin-top: 72px;
        margin-left: calc(73.5vw - 137px);
        width: 124px;
    }

    #messageForg {
        width: 77vw;
    }

    .back-password {
        width: 77vw;
        font-size: 4.6vw;
    }

    .line {
        width: 46vw;
    }

    .label-info {
        width: 65vw;
    }

    .label-forgot-info
    {
        font-size: 3vw;
    }

    .almost-enter a
    {
        margin-left: 0;
        margin-right: 0;
    }

    .almost-cancel a
    {
        margin-left: 0;
        margin-right: 0;
    }

    .almost-cancel {
        width: 108px;
        margin-left: calc(36.5vw - 117px);
    }
}

@media(max-width: 500px)
{
    ul li.import-field {
        margin-top: 57px;
        margin-left: 30px;
    }
}

@media(max-width: 389px)
{
    .errorlist li
    {
        margin-top:-2px
    }
}

@media(max-width: 332px)
{
    .errorlist li
    {
        font-size: 12px;
    }
}


.postRegisterHeader
{
    font-size: 30px;
    color: #3E3E3E;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #093D64;
    margin-top: 160px;
    padding-bottom: 45px;
}


.registerInfo {
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 45px;
}


.registerInfo p{
    color: #000000;
}

.backToMain{
    height: 40px;
    display: flex;
    width: 227.17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.backToMain a {
    font-weight: bold;
    font-size: 14px;
    color: #F3F3F3;
    background: #093D64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 12px 40px;
}

.backToMain a:hover
{
    background: #295D84;
}

.VKlogin {
    position: absolute;
    margin-top: -117px;
    display: flex;
    margin-left: calc(49.4vw - 125px);
}

.VKlogin a {
    width: 248px;
    border: 1px solid #093D64;
    height: 50px;
}

.VKlogin svg
{
    position: absolute;
    margin: 10px;
}

.VKlogin p
{
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 16px;
    color: #093D64;
    margin-left: 50px;
}

.VKlogin a:hover
{
    border: 1px solid #177AC5;
}

.VKlogin a:hover p
{
    color: #177AC5;
}

.VKlogin a:hover path
{
    fill: #177AC5;
}
