button,
button:active,
button:focus {
    outline: none;
}


.circles {
    position: relative;
}

.ellipse
{
    position: absolute;
    z-index: -50;
    border: 3px solid #DCB0A7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.ellipse_1
{
    width: 8.5vw;
    height: 8.5vw;
    margin-top: 31vw;
    left: 17vw;
}
.ellipse_2
{
    width: 5.5vw;
    height: 5.5vw;
    margin-top: 5vw;
    left: 9vw;
}
.ellipse_3
{
    width: 16vw;
    height: 16vw;
    margin-top: 7vw;
    left: 28vw;
}
.ellipse_4
{
    width: 5.5vw;
    height: 5.5vw;
    margin-top: 6vw;
    left: 40.5vw;
}
.ellipse_5
{
    width: 11vw;
    height: 11vw;
    margin-top: 21vw;
    left: 46.5vw;
}
.ellipse_6
{
    width: 16vw;
    height: 16vw;
    margin-top: 22vw;
    left: 61vw;
}
.ellipse_7
{
    width: 11vw;
    height: 11vw;
    margin-top: 2vw;
    left: 85.5vw;
}
.ellipse_8
{
    width: 5.5vw;
    height: 5.5vw;
    margin-top: 38vw;
    left: 85.5vw;
}
.ellipse_1_1
{
    left: 10vw;
}
.ellipse_2_1
{
    left: 4vw;
}
.ellipse_3_1
{
    left: 12vw;
}
.ellipse_4_1
{
    left: 34.5vw;
}
.ellipse_5_1
{
    left: 38.5vw;
}
.ellipse_6_1
{
    left: 47vw;
}
.ellipse_7_1
{
    left: 76.5vw;
}
.ellipse_8_1
{
    left: 82.5vw;
}
.ellipse_1_2
{
    left: 5vw;
}
.ellipse_2_2
{
    left: 1vw;
}
.ellipse_3_2
{
    left: 2vw;
}
.ellipse_4_2
{
    left: 28.5vw;
}
.ellipse_5_2
{
    left: 32.5vw;
}
.ellipse_6_2
{
    left: 34vw;
}
.ellipse_7_2
{
    left: 61.5vw;
}
.ellipse_8_2
{
    left: 75.5vw;
}
@media(max-width: 1000px)
{
    .ellipse_1
    {
        width: 18.5vw;
        height: 18.5vw;
        margin-top: 81vw;
    }
    .ellipse_2
    {
        width: 10.5vw;
        height: 10.5vw;
        margin-top: 11vw;
    }
    .ellipse_3
    {
        width: 30vw;
        height: 30vw;
        margin-top: 34vw;
    }
    .ellipse_4
    {
        width: 10.5vw;
        height: 10.5vw;
        margin-top: 10vw;
    }
    .ellipse_5
    {
        width: 20vw;
        height: 20vw;
        margin-top: 28vw;
    }
    .ellipse_6
    {
        width: 30vw;
        height: 30vw;
        margin-top: 63vw;
    }
    .ellipse_7
    {
        width: 20vw;
        height: 20vw;
        margin-top: 20vw;
    }
    .ellipse_8
    {
        width: 10.5vw;
        height: 10.5vw;
        margin-top: 88vw;
    }
}

.content .first .owl-dots .owl-dot.active span,.content .first .owl-dots .owl-dot:hover span
{
    background: #093D64;
}

.content .first .owl-dots .owl-dot span
{
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    margin: 5px 22px;

}

.content .first .owl-nav button.owl-next,.content .first .owl-nav button.owl-prev,.content .first button.owl-dot
{

}

.content .first .owl-stage-outer
{
    height: 45vw;
}

.content .first .owl-dots
{
    position: relative;
    top: -6vw;
}

.content .first .owl-nav .owl-prev
{
    background: url("../img/left.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 61px;
    float: left;
    margin-left: 3vw;
}

.content .first .owl-nav .owl-prev:hover
{
    background: url("../img/left.png");
    background-repeat: no-repeat;
    background-position-x: -5px;
}

.content .first .owl-nav .owl-next
{
    background: url("../img/right.png");
    background-repeat: no-repeat;
    background-position-x: 5px;
    width: 30px;
    height: 61px;
    float: right;
    margin-right: 3vw;
}

.content .first .owl-nav .owl-next:hover
{
    background: url("../img/right.png");
    background-repeat: no-repeat;
    background-position-x: 10px;
}

.first .item .image
{
    position: relative;
    width: 29.95vw;
    left: 200px;
    top: 110px;
}

.first .item .image
{
    position: relative;
    width: 29.95vw;
    left: 200px;
    top: 5vw;
}

.first .item .text
{
    float: right;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.15vw;
    color: #313131;
    top: -19vw;
    right: 18vw;
}

.first .item .text .name
{

    font-size: 1.7vw;
    line-height: 1.8vw;
    width: 28vw;
}

.first .item .text .name p {
    color: #F3F3F3;
}
.first .item .text .text_content
{
    white-space: pre-line;
    width: 30vw;
}

.first .item .text .text_content p
{
    color: #F3F3F3;
}

.first .item .item_more {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.3vw;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    padding: 1.2vw 4vw;
    background: #093D64;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    left: 6vw;
    top: 1.6vw;
    white-space: nowrap;
}

.first .item .item_more:hover
{
    background: #177AC5;
}

.content .first .owl-nav
{
    position: relative;
    top: -23vw;
}


.products
{
    background: #DDDDDD;
    padding-bottom: 40px;
}

.products .ourProducts
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    padding-top: 120px;
    color: #313131;
    border-bottom: 1px solid #3E3E3E;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10px;

}

.products .second .item .image
{
    width: 19vw;
}


.products .owl-carousel .owl-stage
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.prodCar
{
    width: 72.5%;
    margin-left: auto;
    margin-right: 12.5vw;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.products .info .text
{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8vw;
    line-height: 1.1vw;

    color: #3E3E3E;
}

.products .info .price
{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8vw;
    line-height: 1.1vw;

    color: #3E3E3E;
    padding-bottom: 10px;
}

.products .second .item
{
    background: #F3F3F3;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 19vw;
}

.products .color
{
    width: 100%;
    background: #DDDDDD;
    margin-top: 25px;
}

.products .second .item p
{
    padding-top: 5px;
    padding-left: 20px;
}

.content .second .owl-nav
{
    position: relative;
    top: -14vw;
}


.content .second .owl-nav .owl-prev
{
    background: url("../img/left2.png");
    background-repeat: no-repeat;
    background-size: 2vw;
    width: 4.4vw;
    height: 4.4vw;
    float: left;
    position: relative;
    left: -8vw;
}

.content .second .owl-stage-outer
{
    width: 70vw;
    overflow: hidden;
}

.content .second .owl-nav .owl-prev:hover
{
    background: url("../img/left2.png");
    background-repeat: no-repeat;
    background-size: 2vw;
    background-position-x: -5px;
}

.content .second .owl-nav .owl-next
{
    background: url("../img/right2.png");
    background-repeat: no-repeat;
    background-size: 2vw;
    width: 4.4vw;
    height: 4.4vw;
    float: right;
    position: relative;
    right: -4.5vw;

}

.content .second .owl-nav .owl-next:hover
{
    background: url("../img/right2.png");
    background-repeat: no-repeat;
    background-size: 2vw;
    background-position-x: 5px;
}

.content .where
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;

    color: #FFFFFF;

    padding: 18px 57px;
    background: #093D64;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-transform: uppercase;
    white-space: nowrap;
}

.content .where:hover
{
    background: #177AC5;
}

.content .whereDiv
{
    margin-left: auto;
    margin-right: auto;
    width:212px;
    margin-top: 40px;
}

.news
{
    background: #DDDDDD;
    padding-bottom: 40px;
}


.news .ourNews {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    padding-top: 100px;
    padding-bottom: 10px;
    color: #313131;
    border-bottom: 1px solid #3E3E3E;
    text-align: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.news .color
{
    width: 100%;
    background: #DDDDDD;
}

#blockWithNews
{
    width: 88vw;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.news .new
{
    background: #FFFFFF;
    padding: 1.5vw;
    margin: 1.8vw 2vw;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.news .new .newImage img
{
    width: 15vw;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.news .new .newImage {
    height: 13vw;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 15vw;
    position: relative;
}

.news .new .newTitle
{
    width: 15vw;
    padding-top: 5px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news .new .newTitle p
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 23px;

    color: #000000;
}
.news .new .newText
{
    width: 15vw;
    height: 4.2vw;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding-top: 0.3vw;
    word-break: break-word;
}
.news .new .newText p
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.95vw;
    line-height: 1.1vw;

    color: #3E3E3E;
}

.news .new .date
{
    margin-top: 25px;
}

.news .new .date p
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6vw;
    line-height: 12px;

    color: #3E3E3E;
}

.content .moreNews
{

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;

    color: #FFFFFF;

    padding: 18px 33px;
    background: #093D64;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-transform: uppercase;
    white-space: nowrap;
}

.content .moreNews:hover
{
    background: #177AC5;
}

.content .moreNewsDiv
{
    margin-left: auto;
    margin-right: auto;
    width:212px;
    margin-top: 40px;
}

.jobs
{
    background: #DDDDDD;
    padding-bottom: 170px;
}

.jobs .work {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    padding-top: 90px;
    padding-bottom: 10px;
    color: #313131;
    border-bottom: 1px solid #3E3E3E;
    width: 90vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.jobs .jobsBG
{
    background: url("../img/jobsWork.png");
    background-size: 100vw;
    height: 24vw;
    overflow: hidden;
}

.jobs .grad
{
    background: -o-linear-gradient(358.58deg, rgba(9, 61, 100, 0.76) 59.86%, rgba(196, 196, 196, 0) 94.72%);
    background: linear-gradient(91.42deg, rgba(9, 61, 100, 0.76) 59.86%, rgba(196, 196, 196, 0) 94.72%);
    width: 40vw;
    height: 24vw;
}
.jobs .grad .info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 1.5vw;
    padding-left: 8vw;
    width: 17vw;
    padding-top: 3vw;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.jobs .grad .info p
{
    padding-top: 3vw;
    color: #FFFFFF;
}

.content .moree
{

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;

    color: #FFFFFF;

    padding: 18px 44px;
    background: #093D64;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-transform: uppercase;
    white-space: nowrap;
}

.content .moree:hover
{
    background: #177AC5;
}

.content .moreeDiv
{
    margin-left: auto;
    margin-right: auto;
    width:212px;
    margin-top: 65px;
}

@media(max-width: 1500px)
{
    .news .new .newTitle p {
        font-size: 1.55vw;
    }
    .news .new .newText {
        height: 5.3vw;
    }
    .news .new .newText p {
        font-size: 1.25vw;
        line-height: 1.4vw;
    }
    .news .new .date p {
        font-size: 0.9vw;
    }
}

@media(max-width: 1400px)
{
    .products .info .price, .products .info .text
    {
        font-size: 1vw;
    }

}

@media(max-width: 1300px)
{
    .first .item .text {
        right: 14vw;
    }
    .content .second .owl-nav .owl-next {
        right: -6.5vw;
    }
}

@media(max-width:1000px)
{
    .content .first .owl-stage-outer {
        height: 100vw;
    }

    .first .item .image {
        width: 50.95vw;
        left: 24vw;
        top: 5vw;
    }

    .first .item .text {
        font-size: 2.15vw;
        margin-top: 10vw;
        margin-left: 24vw;
        position: inherit;
        top: 0;
        right: 0;
        float: none;
    }

    .first .item .text .name {
        font-size: 2.7vw;
        line-height: 2.8vw;
        width: 50.95vw;
    }

    .first .item .text .text_content {
        width: 50.95vw;
    }

    .first .item .item_more {
        font-size: 2.9vw;
        padding: 1.2vw 3vw;
        left: 11.2vw;
        top: 1.6vw;
    }

    .content .first .owl-nav {
        top: -58vw;
    }

    .content .first .owl-dots {
        position: relative;
        top: -5vw;
    }

    .products .second .item {
        width: 25vw;
    }

    .products .second .item .image {
        width: 25vw;
    }

    .products .second .item p {
        padding-top: 5px;
        padding-left: 15px;
    }
    .products .info .text {
        font-size: 1.5vw;
        line-height: 2.1vw;
    }

    .products .info .price {
        font-size: 1.5vw;
        line-height: 2.1vw;
        padding-bottom: 10px;
    }

    .content .second .owl-nav {
        top: -24vw;
    }

    .content .second .owl-nav .owl-prev
    {
        background-size: 4vw;
        width: 8.4vw;
        height: 8.4vw;
        left: -11vw;
    }

    .content .second .owl-nav .owl-prev:hover
    {
        background-size: 4vw;
    }

    .content .first .owl-nav .owl-prev:hover
    {
        background-position-x: 0px;
    }

    .content .second .owl-nav .owl-next
    {
        background-size: 4vw;
        width: 8.4vw;
        height: 8.4vw;
        right: -4vw;
    }

    .content .second .owl-nav .owl-next:hover
    {
        /*background-size: 8.4vw;*/
        background-size: 4vw;
        background-position-x: 0px;
    }

    .content .first .owl-nav .owl-next:hover
    {
        background-position-x: 5px;
    }

    .prodCar {
        margin-right: 9.5vw;
    }

    .news .new {
        padding: 2vw;
        margin: 2.8vw 2vw;
    }

    .news .new .newImage img {
        width: 36vw;
    }

    .news .new .newImage {
        height: 31.2vw;
        overflow-y: hidden;
        width: 36vw;
    }
    .news .new .newTitle {
        width: 36vw;
        padding-top: 5px;
    }
    .news .new .newTitle p {
        font-size: 2.25vw;
        line-height: 23px;
    }
    .news .new .newText {
        width: 36vw;
        height: 8.1vw;
    }
    .news .new .newText p {
        font-size: 1.95vw;
        line-height: 2.1vw;
    }
    .news .new .date p {
        font-size: 1.6vw;
        line-height: 12px;
    }
    .jobs .grad {
        width: 65vw;
        height: 24vw;
    }
    .jobs .grad .info {
        font-size: 2.3vw;
        line-height: 2.5vw;
        padding-left: 8vw;
        width: 36vw;
        padding-top: 0vw;
    }
    .jobs .grad .info p {
        padding-top: 3vw;
    }
    .content .second .owl-stage-outer {
        width: 64vw;
        overflow: hidden;
    }
}

@media(max-width: 750px) {
    .content .second .owl-nav .owl-next
    {
        right: -5vw;
    }
}

@media(max-width: 700px)
{
    .products .info .price, .products .info .text
    {
        font-size: 2vw;
    }
}

@media(max-width: 600px)
{
    .news .new .newTitle p {
        font-size: 2.75vw;
        line-height: 23px;
    }
    .news .new .newText {
        width: 36vw;
        height: 10.1vw;
    }
    .news .new .newText p {
        font-size: 2.45vw;
        line-height: 2.6vw;
    }
    .news .new .date p {
        font-size: 2.1vw;
        line-height: 12px;
    }
    .content .second .owl-nav .owl-next
    {
        right: -5.5vw;
    }
}

@media(max-width:500px)
{
    .first .item .image {
        width: 49.95vw;
        left: 26vw;
        top: 5vw;
    }

    .content .first .owl-nav {
        top: -67vw;
    }

    .first .item .text {
        font-size: 3.15vw;
        margin-top: 10vw;
        margin-left: 26vw;
    }

    .first .item .text .name {
        font-size: 3.7vw;
        line-height: 3.8vw;
        width: 49.95vw;
    }

    .first .item .text .text_content {
        width: 49.95vw;
    }

    .first .item .item_more {
        font-size: 3.9vw;
        padding: 1.2vw 3vw;
        left: 5.1vw;
        top: 1.6vw;
    }

    .content .first .owl-stage-outer {
        height: 127vw;
    }
    .content .second .owl-nav {
        top: -48vw;
    }
    .products .second .item {
        width: 63vw;
    }
    .products .second .item .image {
        width: 63vw;
    }
    .products .info .text {
        font-size: 4vw;
        line-height: 4.1vw;
    }
    .products .info .price {
        font-size: 4.1vw;
        line-height: 4.1vw;
        padding-bottom: 10px;
    }
    .content .second .owl-nav .owl-prev
    {
        background-size: 6.4vw;
        width: 13.4vw;
        height: 13.4vw;
        left: -17vw;
        background-position-x: 30px;
    }

    .content .second .owl-nav .owl-prev:hover
    {
        background-size: 6.4vw;
        background-position-x: 30px;
    }

    .content .second .owl-nav .owl-next
    {
        background-size: 6.4vw;
        width: 13.4vw;
        height: 13.4vw;
        right: -8vw;
    }

    .content .second .owl-nav .owl-next:hover
    {
        background-size: 6.4vw;
    }

    .content .whereDiv {
        width: 212px;
        margin-top: 47px;
    }

    .news .new {
        padding: 3vw;
        margin: 3.8vw 2vw;
        border-radius: 5px;
    }

    .news .new .newImage img {
        width: 79vw;
    }

    .news .new .newImage {
        height: 68.3vw;
        overflow-y: hidden;
        width: 79.1vw;
    }
    .news .new .newTitle {
        width: 79vw;
        padding-top: 5px;
    }
    .news .new .newTitle p {
        font-size: 4.75vw;
        line-height: 23px;
    }
    .news .new .newText {
        width: 79vw;
        height: 18.1vw;
        padding-top: 2vw;
    }
    .news .new .newText p {
        font-size: 4.45vw;
        line-height: 4.6vw;
    }
    .news .new .date p {
        font-size: 3.1vw;
        line-height: 12px;
    }
    .jobs .grad {
        width: 111vw;
        height: 24vw;
    }
    .jobs .grad .info {
        font-size: 3.3vw;
        line-height: 3.5vw;
        padding-left: 8vw;
        width: 61vw;
        padding-top: 0vw;
    }
    .prodCar {
        width: 73%;
    }
    .content .second .owl-stage-outer {
        width: 63vw;
        overflow: hidden;
    }
}

@media (max-width: 425px) {
    .content .second .owl-nav .owl-prev {
        background-position-x: 25px;
    }
    .content .second .owl-nav .owl-prev:hover {
        background-position-x: 25px;
    }
}
@media (max-width: 375px) {
    .content .second .owl-nav .owl-prev {
        background-position-x: 22px;
    }
    .content .second .owl-nav .owl-prev:hover {
        background-position-x: 22px;
    }
}
@media (max-width: 320px) {
    .content .second .owl-nav .owl-prev {
        background-position-x: 21px;
    }
    .content .second .owl-nav .owl-prev:hover  {
        background-position-x: 21px;
    }
}

@media(max-width:350px)
{
    .content .first .owl-dots .owl-dot span {
        width: 15px;
        height: 15px;
        background: #FFFFFF;
        margin: 5px 15px;
    }
}