.circles {
    position: relative;
}

.ellipse
{
    position: absolute;
    z-index: -50;
    border: 3px solid #DCB0A7;
    box-sizing: border-box;
    border-radius: 100%;
    transition: 0.2s;
}
.ellipse_1
{
    width: 8.5vw;
    height: 8.5vw;
    margin-top: 31vw;
    left: 17vw;
}
.ellipse_2
{
    width: 5.5vw;
    height: 5.5vw;
    margin-top: 5vw;
    left: 9vw;
}
.ellipse_3
{
    width: 16vw;
    height: 16vw;
    margin-top: 7vw;
    left: 28vw;
}
.ellipse_4
{
    width: 5.5vw;
    height: 5.5vw;
    margin-top: 6vw;
    left: 40.5vw;
}
.ellipse_5
{
    width: 11vw;
    height: 11vw;
    margin-top: 21vw;
    left: 46.5vw;
}
.ellipse_6
{
    width: 16vw;
    height: 16vw;
    margin-top: 22vw;
    left: 61vw;
}
.ellipse_7
{
    width: 11vw;
    height: 11vw;
    margin-top: 2vw;
    left: 85.5vw;
}
.ellipse_8
{
    width: 5.5vw;
    height: 5.5vw;
    margin-top: 38vw;
    left: 85.5vw;
}

@media(max-width: 1050px)
{
    .ellipse_1
    {
        width: 18.5vw;
        height: 18.5vw;
        margin-top: 81vw;
    }
    .ellipse_2
    {
        width: 10.5vw;
        height: 10.5vw;
        margin-top: 11vw;
    }
    .ellipse_3
    {
        width: 30vw;
        height: 30vw;
        margin-top: 34vw;
    }
    .ellipse_4
    {
        width: 10.5vw;
        height: 10.5vw;
        margin-top: 10vw;
    }
    .ellipse_5
    {
        width: 20vw;
        height: 20vw;
        margin-top: 28vw;
    }
    .ellipse_6
    {
        width: 30vw;
        height: 30vw;
        margin-top: 63vw;
    }
    .ellipse_7
    {
        width: 20vw;
        height: 20vw;
        margin-top: 20vw;
    }
    .ellipse_8
    {
        width: 10.5vw;
        height: 10.5vw;
        margin-top: 88vw;
    }
}
@media(max-width: 800px)
{
    .ellipse_1
    {
        margin-top: 100vw;
    }
    .ellipse_2
    {
        margin-top: 14vw;
    }
    .ellipse_3
    {
        margin-top: 48vw;
    }
    .ellipse_4
    {
        margin-top: 14vw;
    }
    .ellipse_5
    {
        margin-top: 33vw;
    }
    .ellipse_6
    {
        margin-top: 72vw;
    }
    .ellipse_7
    {
        margin-top: 22vw;
    }
    .ellipse_8
    {
        margin-top: 94vw;
    }
}
@media(max-width: 600px)
{
    .ellipse_1
    {
        margin-top: 132vw;
    }
    .ellipse_2
    {
        margin-top: 20vw;
    }
    .ellipse_3
    {
        margin-top: 54vw;
    }
    .ellipse_4
    {
        margin-top: 23vw;
    }
    .ellipse_5
    {
        margin-top: 41vw;
    }
    .ellipse_6
    {
        margin-top: 114vw;
    }
    .ellipse_7
    {
        margin-top: 32vw;
    }
    .ellipse_8
    {
        margin-top: 139vw;
    }
}
@media(max-width: 425px)
{
    .ellipse_1
    {
        margin-top: 183vw;
    }
    .ellipse_2
    {
        margin-top: 24vw;
    }
    .ellipse_3
    {
        margin-top: 93vw;
    }
    .ellipse_4
    {
        margin-top: 33vw;
    }
    .ellipse_5
    {
        margin-top: 49vw;
    }
    .ellipse_6
    {
        margin-top: 162vw;
    }
    .ellipse_7
    {
        margin-top: 49vw;
    }
    .ellipse_8
    {
        margin-top: 186vw;
    }
}

@media(max-width: 320px)
{
    .ellipse_1
    {
        margin-top: 233vw;
    }
    .ellipse_2
    {
        margin-top: 37vw;
    }
    .ellipse_3
    {
        margin-top: 135vw;
    }
    .ellipse_4
    {
        margin-top: 47vw;
    }
    .ellipse_5
    {
        margin-top: 86vw;
    }
    .ellipse_6
    {
        margin-top: 217vw;
    }
    .ellipse_7
    {
        margin-top: 49vw;
    }
    .ellipse_8
    {
        margin-top: 240vw;
    }
}

#map
{
    height: 500px;
    width: 84vw;
    margin-left: 8vw;
    position: absolute!important;
}

.content .info {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    white-space: pre-line;
    margin-top: -450px;
    margin-right: calc(47vw - 500px);
    color: #3E3E3E;
    float: right;
}

.content .info .name, .content .info .text{
    color: #F3F3F3;
}

.content .text {
    font-size: 20px;
    line-height: 23px;
    margin-top: 10px;
}

.content .image {
    margin-left: calc(43vw - 480px);
    margin-top: 100px;
}

.content .mabBlock {
    background: #FFF4F0;
    width: 100%;
    margin-top: 140px;
    padding-bottom: 200px;
}

.mabBlock .sales
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #313131;
    padding-top: 150px;
    padding-left: 8vw;
    padding-bottom: 30px;
}

.mabBlock .color {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 500px;
    box-sizing: content-box;
    background: #093D64;
}

@media(max-width:1400px)
{
    .content .info {
        font-size: 25px;
        line-height: 30px;
        top: 49px;
        margin-right: calc(56vw - 474px);
    }
    .content .text {
        font-size: 15px;
        line-height: 20px;
        margin-top: 10px;
    }
    .content .image {
        width: 424px;
        margin-left: calc(53vw - 465px);
    }

    .content .image img
    {
        width: 424px;
    }
    .content .mabBlock {
        margin-top: 90px;
    }
}

@media(max-width: 1050px)
{
    .content .image {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 75px;
    }
    .content .image img
    {
        width: 500px;
    }
    .content .info {
        width: 500px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: -35px;
        padding-bottom: 70px;
    }
    .content .text {
        white-space: normal;
    }
    .mabBlock .sales {
        padding-left: 8vw;
    }
}
@media(max-width: 670px)
{
    .content .image {
        width: 74vw;
    }
    .content .image img
    {
        width: 74vw;
    }
    .content .info {
        width: 74vw;
    }
}
@media(max-width: 600px)
{
    #map
    {
        height: 75vw;
    }
    .mabBlock .color
    {
        height: 75vw;
    }

}
@media(max-width: 503px)
{
    .ymaps-2-1-76-zoom__minus {
        top: 35px;
    }
}

 .ymaps-2-1-76-gotoymaps
 {
     display: none;
 }

#map .ymaps-2-1-76-zoom__runner
{
    padding-left: 18px!important;
    width: 0px!important;
    height: 20px!important;
    left: -8px!important;
}

.ymaps-2-1-76-zoom__runner .ymaps-2-1-76-zoom__icon
{
    background: #FFFFFF!important;
    opacity: 0!important;
}

.ymaps-2-1-76-zoom__scale {
    background: #093D64!important;
    border: none!important;
    box-shadow: none!important;
    width: 4px!important;
    left: 18px!important;
}

.ymaps-2-1-76-float-button
{
    background: #093D64!important;
    border-radius: 100%!important;
}

.ymaps-2-1-76-float-button-icon {
    width: 28.5px!important;
    height: 28px!important;
}

.ymaps-2-1-76-zoom__plus .ymaps-2-1-76-zoom__icon {
    background-image: url('../img/plus.png')!important;
}

.ymaps-2-1-76-zoom__plus {
    width: 40px!important;
    height: 40px!important;
    top: -11px!important;
}


.ymaps-2-1-76-zoom__minus .ymaps-2-1-76-zoom__icon {
    background-image: url('../img/minus.png')!important;
}

.ymaps-2-1-76-zoom__minus {
    width: 40px!important;
    height: 40px!important;
}

.ymaps-2-1-76-controls__control{
    top: 25px!important;
}

.ymaps-2-1-76-balloon__tail
{
  display: none!important;
}

.ymaps-2-1-76-balloon {
    top: -155px!important;
    left: 9px!important;
    background: #093D64!important;
    border: 3px solid #093D64!important;
    box-sizing: border-box!important;
}

#map p
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding-top: 2px;

    color: #F3F3F3;
}

#map .address
{
    font-size: 15px;
    line-height: 18px;
}

#map .hours
{
    font-size: 15px;
    line-height: 18px;
}

.ymaps-2-1-76-balloon__content {
    padding-right: 70px!important;
    background: #093D64!important;
}