body
{
    background: #F3F3F3;
    font-family: Roboto;
}

label
{
    display: none;
}

#newPassword {
    width: 500px;
    margin-left: calc(49.95vw - 257px);
    background: #C4EAF5;
    border: 2px solid #3AB9DA;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 370px;
}

#postNewPassword
{
    width: 500px;
    margin-left: calc(49.95vw - 257px);
    background: #C4EAF5;
    border: 2px solid #3AB9DA;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.postPasswordInfo
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #313131;
    margin-top: 70px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}


#newPassword.loginOpen
{
    display: block;
}

.change
{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #313131;
    margin-top: 35px;
}

.label
{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    color: #3E3E3E;
    margin-left: 30px;
    margin-bottom: 5px;
}

#id_password_1, #id_password_2,.forgotten
{
    margin-left: 30px;
}

#id_password_1, #id_password_2
{
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(500px - 64px);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color: #313131;
    resize: none;
    outline: none;
    padding-left: 10px;

}

.label-1
{
    margin-top: 50px;
}

.label-2
{
    margin-top: 15px;
}

.enter {
    background: #3AB9DA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 235px;
    padding: 12px 12px;
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 75px;
}

.enter:hover
{
    background: #4AC9EA;
}

.back-to-auth
{
    margin-left: 137px;
    padding: 12px 20px;
}

.but-container-post
{
    margin-top: 50px;
    padding-bottom: 80px;
}


.sub
{
    margin-left: 165px;
    margin-top: 72px;
    margin-right: 170px;
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 11px;
    letter-spacing: 0.5px;
    display: initial;
}

.back-password
{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #313131;
    margin-top: 35px;
}

.back-to-main
{
    display: initial;
    color: #3E3E3E;
    background: #FFFFFF;
    padding: 11px 24px;
    position: relative;
    top: -106px;
    margin-right: 30px;
}

.back-to-main:hover
{
    background: #D2D2D2;
}

.but-container
{
    float: right;
}

.but-container-preLogin
{
    margin-top: 90px;
    margin-bottom: 30px;
}

@media(max-width: 660px)
{

    #newPassword {
        width: 77vw;
        margin-left: calc(10vw - -5px);
    }

    #postNewPassword
    {
        width: 77vw;
        margin-left: calc(10vw - -5px);
    }

    #id_password_1, #id_password_2 {
        width: calc(77vw - 64px);
    }
    .enter {
        margin-left: calc(75vw - 255px);
    }
    .sub
    {
        margin-left: calc(38vw - 76px);
        margin-right: calc(38vw - 76px);

    }
    .back-to-auth
    {
        margin-left: calc(41vw - 125px);
    }

}

@media(max-width: 380px)
{
    #newPassword
    {
        height: 410px;
    }
    .enter
    {
        margin-bottom: 25px;
        margin-left: calc(40vw - 61px);
    }
    .but-container
    {
        float: none;
    }
    .back-to-auth
    {
        margin-left: calc(34vw - 80px);
        font-size: 11px;
    }
}

@media(max-width: 600px)
{
    .postPasswordInfo {
        width: 54vw;
    }
}

@media(max-width: 650px)
{

}

@media(max-width: 470px)
{
}

@media(max-width: 450px)
{

}

@media(max-width: 350px)
{

}

.errorlist li {
    cursor: default;
    font-family: Roboto;
    font-size: 13px;
    position: absolute;
    color: #EF1010;
    width: calc(500px - 64px);
    margin-top: 77px;
    margin-left: 30px;
}

@media(max-width: 660px)
{
    .errorlist li {
        width: calc(77vw - 64px);
    }
}

@media(max-width: 389px)
{
    .errorlist li
    {
        margin-top:60px
    }
}

@media(max-width: 332px)
{
    .errorlist li
    {
        font-size: 12px;
    }
}