body
{
    background: #FFF4F0;
    font-family: Roboto;
}

label
{
    display: none;
}

#newPassword {
    width: 500px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
}

#postNewPassword
{
    width: 500px;
    margin-left: calc(49.95vw - 257px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 100px;
}


.postPasswordTitle {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #093D64;
    margin-top: 160px;
    padding-bottom: 45px;
}

.postPasswordTitle p
{
    font-size: 30px;
    text-align: center;
}


.postPasswordInfo
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #313131;
    margin-top: 45px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

#newPassword .wrong
{
    border: 1px solid red;
}

#newPassword .wrong::-webkit-input-placeholder
{
    color: red;
}

#newPassword .wrong::-moz-placeholder
{
    color: red;
}

#newPassword .wrong:-ms-input-placeholder
{
    color: red;
}

#newPassword .wrong::-ms-input-placeholder
{
    color: red;
}

#newPassword .wrong::placeholder
{
    color: red;
}

.messagePas
{
    color:red;
    text-align: center;
    margin-top: 10px;
    opacity: 0;
}

.wrongMes
{
    opacity: 1;
}

#newPassword.loginOpen
{
    display: block;
}

.almost-enter {
    position: absolute;
    right: 0;
    width: 129px;
    margin-right: calc(50vw + -126px);
    margin-top: 48px;
}
.almost-enter a {

    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 22px;
    color: #093D64;
    border: 1px solid #093D64;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.almost-enter a:hover
{
    color: #177AC5;
    border: 1px solid #177AC5;
}

.almost-cancel {
    position: absolute;
    left: 0;
    width: 129px;
    margin-left: calc(50vw - 128px);
    margin-top: 48px;
}

.almost-cancel a {
    background: #093D64;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #F3F3F3;
    padding: 11px 23px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.almost-cancel a:hover
{
    background: #177AC5;
}

.pas1
{
    margin-top: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.pas2
{
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.change {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 23px;
    text-align: center;
    color: #313131;
    margin-top: 35px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #093D64;
    padding-top: 60px;
    padding-bottom: 45px;
}

.label
{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    color: #3E3E3E;
    margin-left: 30px;
    margin-bottom: 5px;
}

#id_password_1, #id_password_2,.forgotten
{
    margin-left: 30px;
}

#id_password_1, #id_password_2
{
    margin-left: auto;
    margin-right: auto;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(500px - 100px);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color: #313131;
    resize: none;
    outline: none;
    padding-left: 10px;

}

.label-1
{
    margin-top: 50px;
}

.label-2
{
    margin-top: 15px;
}

.enter {
    background: #093D64;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 235px;
    padding: 12px 12px;
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 75px;
}

.enter:hover
{
    color: #FFFFFF;
    background: #177AC5;
}

.back-to-auth
{
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
}

.but-container-post
{
    margin-top: 50px;
    padding-bottom: 80px;
    width: 222px;
    margin-left: auto;
    margin-right: auto;
}


.sub
{
    margin-top: 72px;
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 11px;
    letter-spacing: 0.5px;
    display: initial;
}

.back-password
{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #313131;
    margin-top: 35px;
}

.back-to-main
{
    display: initial;
    color: #3E3E3E;
    background: #FFFFFF;
    padding: 11px 24px;
    position: relative;
    top: -106px;
    margin-right: 30px;
}

.back-to-main:hover
{
    background: #D2D2D2;
}

.but-container
{
    float: right;
}

.but-container-preLogin
{
    margin-top: 90px;
    margin-bottom: 30px;
}

@media(max-width: 500px)
{

    #newPassword
    {
        width: 100vw;
    }

    #id_password_1
    {
        width: 83vw;
        margin-left: auto;
        margin-right: auto;
    }
    #id_password_2
    {
        width: 83vw;
        margin-left: auto;
        margin-right: auto;
    }

    .change {
        width: 60vw;
        font-size: 6vw;
    }

    .almost-enter a:hover
    {
        color: #093D64;
        border: 1px solid #093D64;
    }

}

@media(max-width: 380px)
{
    #newPassword
    {
        height: 410px;
    }
    .enter
    {
        margin-bottom: 25px;
        margin-left: calc(40vw - 61px);
    }
    .but-container
    {
        float: none;
    }
    .back-to-auth
    {
        font-size: 11px;
        margin-left: 0;
    }
    .but-container-post
    {
        width: 183px;
    }
}

@media(max-width: 600px)
{
    .postPasswordInfo {
        width: 54vw;
    }
}

@media(max-width: 650px)
{

}

@media(max-width: 470px)
{
}

@media(max-width: 450px)
{

}

@media(max-width: 350px)
{

}

.errorlist li {
    cursor: default;
    font-family: Roboto;
    font-size: 13px;
    position: absolute;
    color: #EF1010;
    width: calc(500px - 64px);
    margin-top: 77px;
    margin-left: 30px;
}

@media(max-width: 660px)
{
    .errorlist li {
        width: calc(77vw - 64px);
    }
}

@media(max-width: 389px)
{
    .errorlist li
    {
        margin-top:60px
    }
}

@media(max-width: 332px)
{
    .errorlist li
    {
        font-size: 12px;
    }
}