body
{
    background: #FFF4F0;
    font-family: Roboto;
    font-style: normal;
}

.profileHead {
    width: 100%;
    height: 78px;
    background: #093D64;
    margin-bottom: 50px;
}

.profileHead p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    padding-top: 29px;
    padding-left: 6vw;
    color: #F3F3F3;
}

#profileFrame {
    margin-left: auto;
    margin-right: auto;
    width: 680px;
    border: 3px solid #093D64;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 40px;
}

.profileFrame__title{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.dataField
{
    border-bottom: 1px solid #093D64;
    margin-left: auto;
    margin-right: auto;
    width: 590px;
    margin-top: 70px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #3E3E3E;
}

.lableLogin {
    position: absolute;
    font-weight: bold;
}

.userLogin {
    text-align: right;
}

.lableEmail {
    position: absolute;
    font-weight: bold;
}

.userEmail {
    text-align: right;
}


.changeLink{
    text-align: right;
    font-size: 15px;
    color: #929292;
    margin-top: 5px;
}


.changeLink a {
    margin-right: 42px;
    cursor: pointer;
}

.changeLink a:hover {
    margin-right: 42px;
    cursor: pointer;
    color: #C2C2C2;
}

.lablePassword {
    position: absolute;
    font-weight: bold;
}

.userPassword {
    text-align: right;
}

.profileFrame__profiles {
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-bottom: 40px;
}


.profileFrame__profileBlock {
    position: relative;
}

.profileFrame__block {
    display: flex;
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    background: #093D64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 24px;
    cursor: default!important;
}

.profileFrame__profileTitle {
    padding-top: 12px;
    padding-left: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding-bottom: 40px;
}

.profileFrame__profileTitle p
{
    color: #f3f3f3;
}

.profileFrame__deleteBlock {
    width: 25px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.profileFrame__addBlock, .profileFrame__braceletBlock {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    background: #093D64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 40px;
    height: 70px;
    display: flex;
}

.profileFrame__addBlock
{
    cursor: pointer;
}

.profileFrame__addBlock div {
    width: 30px;
    margin: auto;
    display: flex;
}

.profileFrame__deleteBlock:hover svg path
{
    fill: #497DA4;
}

.profileFrame__addBlock:hover
{
    background: #295D94;
}

.profileFrame__addBlock:hover path
{
    fill: #F3F3F3;
}


.profileFrame__addBlock:hover .plus
{
    fill: #295D94;
}

.profileFrame__profileBlock a:hover
{
    color: #C3C3C3;
}


.shading
{
    background: rgba(102, 102, 102, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}


.wind {
    width: 500px;
    position: fixed;
    top: 37vh;
    right: 0;
    left: 0;
    margin: auto;
    padding-bottom: 55px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #f3f3f3;
    background: #093D64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.ChangeInfo {
    font-weight: 300;
    border-bottom: 1px solid #f3f3f3;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.ChangeInfo p
{
    color: #f3f3f3;
}

.form-control {
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(470px - 64px);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color: #313131;
    resize: none;
    outline: none;
    padding-left: 10px;
}


.open .shading {display: block;}
.open .close {display: block;}
.open .emailSave {display: block;}
.open .passwordSave {display: block;}
.open .delete, .open .Ok {display: block;}

.close {
     display: none;
    width: 68px;
    float: left;
    font-weight: bold;
    padding: 7px 14px;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 14px;
    cursor: pointer;
    margin-left: 130px!important;
    margin-top: 70px;
    text-align: center;
    z-index: 3;
    text-transform: uppercase;
    border: 1px solid #F3F3F3;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #093D64;
    margin-right: 0px!important;
}

.emailSave, .passwordSave {
     display: none;
     width: 112px;
     float: right;
     font-weight: bold;
     padding: 7px 14px;
     text-decoration: none;
     font-family: "Roboto";
     font-size: 14px;
     cursor: pointer;
     margin-right: 128px!important;
     margin-top: 70px;
     text-align: center;
     z-index: 3;
     text-transform: uppercase;
     background: transparent;
     color: #F3F3F3;
     border: 1px solid #F3F3F3;
     box-sizing: border-box;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 5px;
 }

.delete, .Ok {
    display: none;
    width: 112px;
    float: right;
    font-weight: bold;
    padding: 7px 14px;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 14px;
    cursor: pointer;
    margin-right: 128px!important;
    margin-top: 70px;
    text-align: center;
    z-index: 3;
    text-transform: uppercase;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: #F3F3F3;
    color: #093D64;
}

.close:hover, .delete:hover, .Ok:hover
{
    color: #093D64!important;
    border: 1px solid #C3C3C3;
    background: #C3C3C3;
}

.emailSave:hover, .passwordSave:hover
{
    color: #C3C3C3!important;
    border: 1px solid #C3C3C3;
}

.NewPassword
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.profileFrame__changePassword .wind
{
    top: 27vh!important;
}

.deleteWind
{
    width: 435px;
    padding-bottom: 45px;
}

.deleteWind a
{
    font-weight: normal;
    text-transform: none;
}

.deleteWind .close
{
    padding: 10px 0px;
    margin-left: 90px!important;
    width: 113px;
}

.deleteWind .delete
{
    padding: 10px 15px;
    margin-right: 90px!important;
    width: 115px;
}

.DeleteInfo
{
    font-size: 30px;
    font-weight: 300;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.DeleteInfo p
{
    color: #f3f3f3;
}

.profileFrame__bracletes{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

.profileFrame__bracletes p {
    color: #000000;
}

.profileFrame__braceletBlock {
    position: relative;
    height: 92px;
    margin-bottom: 25px;
    /*overflow-x: auto;*/
}

.settings {
    position: absolute;
    right: 0;
    margin-right: -30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 25px;
}

.braceletDescription {
    margin-top: 4px;
    margin-left: 40px;
    width: 535px;
    overflow: auto;
}
.braceletDescription p {
    line-height: 18px;
    margin-top: 6px;
}

.braceletDescription span{
    color: #F3F3F3;
    font-size: 15px;
}

.boldDesc
{
    font-weight: bold;
}

.desc1
{
    margin-left: 42px;
}

.desc2 {
    margin-left: 55px;
}

.desc3 {
    margin-left: 5px;
}

.profileFrame__profileTitle input {
    font-size: 15px;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    outline: none;
    line-height: 18px;
    font-weight: bold;
    padding: 3px 10px;
    padding-left: 4px;
    padding-right: 25px;
    width: 300px;
    background: transparent;
    color: #F3F3F3;
    background: url("../img/pen.png");
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 280px;
}

.profileFrame__profileTitle input:focus
{
    border: 1px solid #F3F3F3;
    padding: 2px 9px;
    padding-left: 3px;
    width: 298px;
    background: transparent;
}

.profileFrame__linkBrac {
    position: absolute;
    margin-top: -56px;
    margin-left: 57px;
}

.profileFrame__linkBrac a {
    border-bottom: 1px solid #F3F3F3;
    color: #F3F3F3;
    font-size: 15px;
}

.profileFrame__linkProf{
    position: absolute;
    right: 0;
    margin-top: -56px;
    margin-right: 58px;
    font-size: 15px;
}

.profileFrame__linkProf a {
    border-bottom: 1px solid #F3F3F3;
    color: #F3F3F3;
}

.settings:hover svg rect
{
    background: #295D94;
}

.settings:hover path
{
    fill: #F3F3F3;
}

.error
{
    position: absolute;
    left: 50%;
    margin-right: -50px;
    transform: translate(-50%);
    margin-top: 71px;
    color: red;
    display: none;
}

.emailChangeEmail.wrong
{
    border: 1px solid red;
    border: 1px solid red;
}

.emailChangeEmail.wrong::placeholder
{
    color: red;
}

.wind .wrong
{
    /*display: block;*/
}

.wind .done
{
    display: block;
    color: #FFFFFF;
}

.profileInfo
{
    width: 300px;
    border: none;
    margin-bottom: 0;
}

.line {
    height: 1px;
    background: #F3F3F3;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.profileWind {
    top: 20vh;
}

.blockWithProfilesInBraclet {
    /*height: 110px;*/
    /*overflow: auto;*/
    margin-top: 20px;
}

.blockWithProf::-webkit-scrollbar
{
    width: 5px;
}

.blockWithProf
{
    overflow: auto;
    height: 160px;
}

.prof {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 10px;
}

.prof p {
    background: #F3F3F3;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #093D64;
    font-size: 15px;
    font-weight: bold;
    padding-right: 80px;
}

.circle {
    position: absolute;
    right: 0;
    margin-right: -35px;
    top: 2px;
}

.profileWind .close
{
    color: #F3F3F3;
    background: none;
    font-weight: normal;
    padding: 8px 22px;
}


.profileWind .close:hover
{
    color: #C3C3C3!important;
}

.profileWind .Ok
{
    font-weight: normal;
    padding: 8px 14px;
    width: 115px;
}

.check {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -30px;
    margin-top: 7px;
    display: none;
}

.activated .check
{
    display: block;
}

.prof
{
    cursor: pointer;
}

.prof:hover p
{
    background: #C3C3C3;
}

.prof:hover circle
{
    fill: #C3C3C3;
}

@media(max-width: 770px)
{
    #profileFrame {
        width: 88.5vw;
    }
    .dataField {
        width: 76.7vw;
    }
    .profileFrame__block, .profileFrame__addBlock, .profileFrame__braceletBlock {
        width: 75.4vw;
    }
    .profileFrame__deleteBlock {
        right: calc(3vw - 13px);
    }

    .userLogin, .userPassword, .userEmail {
        width: 59vw;
        margin-left: calc(17.7vw - 0px);
    }
    .changeLink a {
        margin-right: 5.5vw;
    }

    .profileFrame__linkBrac {
        margin-left: 7.4vw;
    }
    .profileFrame__linkProf {
        margin-right: 8.4vw;
    }
    .settings {
        margin-right: calc(-2.8vw - 13px);
    }
    .braceletDescription
    {
        width: 67vw;
    }
}

@media(max-width: 630px)
{
    .wind
    {
        width: 79vw;
    }
    .deleteWind {
        width: 435px;
    }
    .form-control
    {
        width: 64.4vw;
    }

    .passwordSave, .emailSave
    {
        margin-right: calc(45vw - 145px)!important;
    }

    .close
    {
        margin-left: calc(45vw - 145px)!important;
    }

    .profileWind .close
    {
        margin-left: calc(40vw - 61px)!important;
    }

    .profileWind .Ok {
        margin-top: 20px;
        margin-right: calc(39.4vw - 55px)!important;
    }

    .prof {
        width: 54vw;
    }
}

@media(max-width: 550px)
{
    .deleteWind {
        width: 79vw;
    }

    .deleteWind .close
    {
        margin-top: 30px;
        margin-left: calc(39.4vw - 57px)!important;
    }

    .deleteWind .delete
    {
        margin-top: 30px;
        margin-right: calc(39.4vw - 57px)!important;
    }
    .DeleteInfo {
        font-size: 5.7vw;
    }
}

@media(max-width: 390px)
{
    .ChangeInfo {
        width: 64.4vw;
    }
    .passwordSave, .emailSave
    {
        margin-right: calc(45.5vw - 77px)!important;
        margin-top: 30px;
    }

    .close
    {
        margin-top: 30px;
        margin-left: calc(33vw - 26px)!important;
    }
    .profileWind .close
    {
        margin-left: calc(40vw - 61px)!important;
    }
}

@media(max-width: 450px)
{
    .profileFrame__block, .profileFrame__addBlock, .profileFrame__braceletBlock {
        width: 67.4vw;
    }
    .profileFrame__deleteBlock {
        right: calc(5vw - 13px);
    }
    .settings {
        margin-right: calc(-4.8vw - 13px);

    }
    .braceletDescription
    {
        width: 53vw;
    }
    .profileFrame__block {
        height: 120px;
    }
    .profileFrame__linkBrac {
        margin-top: -95px;
        margin-left: calc(11.2vw - -4px);
    }
    .profileFrame__linkProf {
        left: 0;
        margin-left: calc(11.2vw - -4px);
    }
    .profileFrame__profileTitle input {
        width: 66vw;
        background-position-x: calc(64vw - 12px);
    }
    .profileFrame__profileTitle input:focus
    {
        width: 64vw;
    }
}